/* ADMIN-HEADER COMPONENT */

.mdbnavbar{
  background-color: '#f0e6ea'
}

.mdbnavbar-brand{
  color: #606080;
  font-weight: 600;
  font-size: 22px;
}

/* ********************************************************************* */

/* CARD COMPONENT */

.mdbcard {
  max-width: '20rem';
}

.card-image{
  max-width:"100%";
  height:"180px"
}

/* *************************************************************************** */

/* HEADER */

.header-navbar{
  background-color: '#f0e6ea'
}

.header-navbar-brand{
  color: '#606080';
  font-weight: '600';
  font-size: '22px' 
}

.navbar-nav{
  margin-right: '30px';
  margin-top: '17px'
}

