/* body {
  background-image: linear-gradient(to bottom right, #f8f4eb, #ffffff);
} */

/* ADMIN-HEADER COMPONENT */

.mdbnavbar {
  /* background-color: #f5e3c5; */
  background-color: #F2DBDF;

}

.mdbnavbar-brand {
  color: #606080;
  font-weight: 600;
  font-size: 22px;
}

/* ********************************************************************* */

/* CARD COMPONENT */

.mdb-card {
  max-width: 20rem !important;
}

.card-image {
  max-width: 100% !important;
  height: 180px !important;
}

.card-contain {
  display: flex !important;
  justify-content: center !important;
  width: 1100px !important;
  
}

/* *************************************************************************** */

/* HEADER */
 /* #EF9CAA */
.header-navbar {
  /* background-color: #f5e3c5 !important; */
  background-color: #F2DBDF;
}

.header-navbar-brand {
  color: #606080 !important;
  font-weight: 600 !important;
  font-size: 22px !important;
}

.navbar-nav {
  margin-right: 30px !important;
  margin-top: 17px !important;
}

/* ****************************************************************************** */

/* ADD/EDIT TOUR PAGE */

.header-container {
  margin: auto !important;
  padding: 15px !important;
  max-width: 450px !important;
  align-content: center !important;
  margin-top: 70px !important;
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 85px !important;
}

.container{
      padding-right: var(--mdb-gutter-x, 0rem) !important; 
    padding-left: var(--mdb-gutter-x, 0rem) !important;
}

.row{
  --mdb-gutter-x: 0;
}

.card-style {
  margin : auto;
  padding: 15px;
  max-width: 1450px;
  align-content: center;
}

.pagination-row {
  margin-top: 50px !important;
  margin-bottom: 20px;
  
}

.pagination-row.row{
  --mdb-gutter-x: 0rem;
}

.description {
  height: 100px !important;
}

.add-button {
  width: 100% !important;
}

.animation-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-animation {
  width: 200px;
  height: 245px;
}

/* ********************************************************************************** */

/* ADMINHOME */

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.tour-table {
  font-size: 20px !important;
}

.date-picker-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-picker-container {
  display: flex;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

.smaller-input {
  width: 150px; /* Adjust the width as per your preference */
  margin-right: 10px; /* Adjust the spacing between the input boxes */
}

.tour-image {
  width: 45px !important;
  height: 45px !important;
}

.date_label{
  font-weight: bold;
  margin-right: 5px;
}

/* ************************************************************************** */

/* ADMIN LOGIN */

.login-btn {
  width: 100% !important;
}

/* ********************************************************************************** */

/* SINGLE TOUR PAGE */

.calendar-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.5rem;
  line-height: 1;
}

/* ************************************************************************************* */

/* USER DASHBOARD PAGE */

.dashboard_container {
  margin: auto;
  padding: 120px;
  max-width: 900px;
  align-content: center;
}

.icon_style {
  margin: 5px;
  float: right;
  margin-top: -60px;
}

.edit_icon {
  color: #55acee;
  margin-left: 10px;
}

/* *************************************************************************************** */

/* HOME PAGE */

.no-tour-container {
  position: relative;
  display: flex;
  align-items: center;
  height:100%;

}

.no-tour-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.no-tour-image {
  display: block;
  margin: 0 auto;
  height: auto;
}

.sort-dropdown{
  width: 250px;
   text-align:start;
}

.option_value{
  font-size: 18px;
}

/* *************************************************************************** */

/* SINGLE TOUR PAGE */

.bold-text{
  font-weight: bold;
}

.link{
  cursor: pointer;
}